@model UrlContent

@{
    ViewData["Title"] = "Home page";
}

@*Wanted to make a single page app. Just ran out of time to get the form submission to update the partial view.*@
@*See comments in Get method of ScraperController for testing instructions.*@

<div class="text-center">
    <h1 class="display-2">Welcome</h1>
    <p>Insert the url of a website below to view the images, word count and most frequenlty used words on the site.</p>
</div>

<form action="get" id="urlForm">
    <div class="mb-3">
        <label for="targetUrl" class="form-label">Site URL</label>
        <input type="url" class="form-control" id="targetUrl">
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<partial name="_ScrapedContent" model="@Model" id="scrapedContent" />