#scrapedImages.carousel {
    margin: 3em auto;
}

    #scrapedImages.carousel .carousel-inner {
        background: rgba(0, 0, 0, 0.05);
    }

        #scrapedImages.carousel .carousel-inner .carousel-item {
            height: 500px;
            padding: 10px;
        }

            #scrapedImages.carousel .carousel-inner .carousel-item img {
                width: auto;
                height: auto;
                max-width: calc(100% - 20px);
                max-height: calc(100% - 20px);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                box-shadow: 0 0 5px 0px rgb(0, 0, 0, 0.5);
            }

    #scrapedImages.carousel .carousel-control-next,
    #scrapedImages.carousel .carousel-control-prev {
        top: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        height: 20%;
        transform: translateY(-50%);
        border-radius: 5px;
        width: 50px;
    }

@media (min-width: 768px) {
    #scrapedImages.carousel .carousel-inner {
        width: calc(100% - 100px - 2em);
        margin: 0 auto;
    }
}
